<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
	<div class="container">
		<h4>EOD Calculation</h4>
		
		<!-- Success Alert -->
		<div class="alert alert-success alert-dismissible" th:if="${(sccMsg != null) && (sccMsg != '')}">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> Success!</h4>
			<h5 th:text="${sccMsg}"></h5>
		</div>
				
		<!-- Error Alert -->
		<div class="alert alert-danger alert-dismissible" th:if="${(errMsg != null) && (errMsg != '')}">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-ban"></i> Error!</h4>
			<h5 th:text="${errMsg}"></h5>
		</div>
		
	    <table class="table">
	    	<thead>
	    		<tr>
	    			<th scope="col">Seq</th>
		    		<th scope="col">Kode Eod</th>
		    		<th scope="col">Deskripsi</th>
		    		<th scope="col"></th>
		    		<th scope="col"></th>
	    		</tr>
	    	</thead>
	    	<tbody>
		    	<tr scope="row" th:each="kodeEod : ${listKodeEod}">
		    		<td th:text="${kodeEod.Seq}"></td>
		    		<td th:text="${kodeEod.KodeEod}"></td>
		    		<td th:text="${kodeEod.Deskripsi}"></td>
		    		<td>
		    			<form action="#" method="POST" th:action="@{'/testeod/calculationrun/' + ${kodeEod.KodeEod}}">
		    				<input type="hidden" th:id="kodeEod + ${kodeEod.KodeEod}" th:name="kodeEod" th:value="${kodeEod.KodeEod}" />
		    				<button type="submit" class="btn btn-primary">Execute</button>
		    			</form>
		    		</td>
		    		<td width="40%">
		    			<div class="progress">
							<div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
								<span class="sr-only">40% Complete (success)</span>
							</div>
						</div>
		    		</td>
		    	</tr>
	    	</tbody>
	    </table>
	</div>
</body>
</html>