<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<header th:replace="fragments :: main-header"></header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside th:replace="fragments :: main-sidebar"></aside>
	
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<!-- <section class="content-header"> -->
		<!-- </section> -->

		<!-- Main content -->
		<section class="content">
			
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->
			
			<div class="container">
				<legend>Data Nasabah</legend>
			
				<!-- if perorangan -->
				<ul class="nav nav-pills" th:if="${tipenasabah} == '1'">
					<li role="presentation"><a th:href="@{'/nasabah/inquiry/perorangan/' + ${nonasabah}}">Basic Data Perorangan</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/inquiry/jobnspouse/' + ${nonasabah}}">Data Pekerjaan & Pasangan</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/inquiry/laporperorangan/' + ${nonasabah}}">Data Sandi Pelaporan</a></li>
					<li role="presentation"  class="active"><a href="#">Data Dokumen Nasabah</a></li>
				</ul>
				<!-- if badanusaha -->
				<ul class="nav nav-pills" th:if="${tipenasabah} == '2'">
					<li role="presentation"><a th:href="@{'/nasabah/inquiry/badanusaha/' + ${nonasabah}}">Basic Data Badan Usaha</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/pengurus/inquiry/' + ${nonasabah}}">Data Pengurus Perusahaan</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/inquiry/laporbadanusaha/' + ${nonasabah}}">Data Sandi Pelaporan</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/lapkeu/inquiry/' + ${nonasabah}}">Data Laporan Keuangan</a></li>
					<li role="presentation" class="active"><a href="#">Data Dokumen Nasabah</a></li>
				</ul>
				<br/>
				
				<table id="example1" class="table table-bordered table-striped" width="80%">
				<thead>
					<tr class="table-active">
						<th>DocType</th>
						<th>Caption</th>
						<th>File</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="dokumen : ${listDokumen}">
						<td th:text="${dokumen.dokcode.dokdesc}"></td>
						<td th:text="${dokumen.caption}"></td>
						<td><a th:href="@{'/nasabah/dokumen/download/' + ${dokumen.filename}}" th:text="${dokumen.filename}"></a></td>
					</tr>
				</tbody>
				</table>
				
			</div>
				
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->

		</section>
		<!-- /.content -->
	</div>

	<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/js/jquery-2.2.3.min.js"></script>
<!-- popper -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/js/bootstrap.min.js"></script>

<script src="/js/bootstrap-select.min.js"></script>

<script>
	$(document).ready(function () {

		$('#officeprov').change(function () {
			$.ajax({
                url: '/parameter/listkotakabbyprov/' + $('#officeprov').val(),
                success: function (result) {
                    $('#officecity').empty();
                    $.each(result, function () {
                        $('#officecity').append($('<option></option>').attr('value', this.kotacode).text(this.kotadesc));
                    });
                }
            });
		});
	});
</script>

<!-- FastClick -->
<script src="/js/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/demo.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/js/jquery-ui.min.js"></script>
<!-- Slimscroll -->
<script src="/js/jquery.slimscroll.min.js"></script>


<!-- Morris.js charts -->
<script src="/js/raphael-min.js"></script>
<script src="/js/morris.min.js"></script>
<!-- Sparkline -->
<script src="/js/jquery.sparkline.min.js"></script>
<!-- jQuery Knob Chart -->
<script src="/js/jquery.knob.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/js/bootstrap3-wysihtml5.all.min.js"></script>
,
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/js/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

</body>
</html>