<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<header th:replace="fragments :: main-header"></header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside th:replace="fragments :: main-sidebar"></aside>
	
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<!-- <section class="content-header"> -->
		<!-- </section> -->

		<!-- Main content -->
		<section class="content">
			
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->
			
			<div class="container">
				<legend>Data Nasabah</legend>
			
				<!-- if perorangan -->
				<ul class="nav nav-pills" th:if="${tipenasabah} == '1'">
					<li role="presentation"><a th:href="@{'/nasabah/edit/perorangan/' + ${nonasabah}}">Basic Data Perorangan</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/edit/jobnspouse/' + ${nonasabah}}">Data Pekerjaan & Pasangan</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/edit/laporperorangan/' + ${nonasabah}}">Data Sandi Pelaporan</a></li>
					<li role="presentation"  class="active"><a href="#">Data Dokumen Nasabah</a></li>
				</ul>
				<!-- if badanusaha -->
				<ul class="nav nav-pills" th:if="${tipenasabah} == '2'">
					<li role="presentation"><a th:href="@{'/nasabah/edit/badanusaha/' + ${nonasabah}}">Basic Data Badan Usaha</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/pengurus/index/' + ${nonasabah}}">Data Pengurus Perusahaan</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/edit/laporbadanusaha/' + ${nonasabah}}">Data Sandi Pelaporan</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/lapkeu/index/' + ${nonasabah}}">Data Laporan Keuangan</a></li>
					<li role="presentation" class="active"><a href="#">Data Dokumen Nasabah</a></li>
				</ul>
				<br/>
				
				<!-- Form Name -->
				<form enctype="multipart/form-data" action="#" method="POST" th:action="@{'/nasabah/dokumen/insert/' + ${nonasabah}}" th:object="${nasabahDokumen}" class="form-horizontal" role="form">
				<fieldset>
					<div class="row">
						<div class="col-md-6">
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="dokcode">DocType</label>
								<div class="col-md-9">
									<select class="selectpicker" data-live-search="true" name="dokcode" id="dokcode" th:field=*{dokcode} required>
										<option th:each="kodedokumen: ${kodedokumens}" th:value="${kodedokumen.dokcode}" th:text="${kodedokumen.dokdesc}"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="caption">Caption</label>
								<div class="col-md-9">
									<input type="text" placeholder="Caption" class="form-control" id="caption" name="caption" th:field=*{caption} required/>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="uploadFile">File</label>
								<div class="col-md-9">
									<input type="file" placeholder="Upload File" class="form-control" id="uploadFile" name="uploadFile" required />
								</div>
							</div>
							
						</div>
						<div class="col-md-6">
						
						</div>
					</div>
					<div class="row">
						<!-- Button (Double) -->
						<div class="form-group">
							<label class="col-md-3 control-label" for="submitButton"></label>
							<div class="col-md-9">
								<button type="submit" id="submitButton" name="submitButton" class="btn btn-success">Save</button>
								<a th:href="@{'/nasabah/dokumen/index/' + ${nonasabah}}" class="btn btn-inverse">Cancel</a>
							</div>
						</div>
					</div>
				</fieldset>
				</form>
				
			</div>
				
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->

		</section>
		<!-- /.content -->
	</div>

	<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/js/jquery-2.2.3.min.js"></script>
<!-- popper -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/js/bootstrap.min.js"></script>

<script src="/js/bootstrap-select.min.js"></script>

<script>
	$(document).ready(function () {

		$('#provinsi').change(function () {
			$.ajax({
                url: '/parameter/listkotakabbyprov/' + $('#provinsi').val(),
                success: function (result) {
                    $('#kota').empty();
                    $.each(result, function () {
                        $('#kota').append($('<option></option>').attr('value', this.kotacode).text(this.kotadesc));
                    });
                }
            });
		});
	});
</script>

<!-- FastClick -->
<script src="/js/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/demo.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/js/jquery-ui.min.js"></script>
<!-- Slimscroll -->
<script src="/js/jquery.slimscroll.min.js"></script>


<!-- Morris.js charts -->
<script src="/js/raphael-min.js"></script>
<script src="/js/morris.min.js"></script>
<!-- Sparkline -->
<script src="/js/jquery.sparkline.min.js"></script>
<!-- jQuery Knob Chart -->
<script src="/js/jquery.knob.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/js/bootstrap3-wysihtml5.all.min.js"></script>
,
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/js/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

</body>
</html>