<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<header th:replace="fragments :: main-header"></header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside th:replace="fragments :: main-sidebar"></aside>
	
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<!-- <section class="content-header"> -->
		<!-- </section> -->

		<!-- Main content -->
		<section class="content">
			
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->
			
			<div class="container">
				<legend>Data Nasabah</legend>
			
				<ul class="nav nav-pills">
					<li role="presentation" class="active"><a href="#">Basic Data Badan Usaha</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/pengurus/index/' + ${nasabahBadanUsaha.nonasabah}}">Data Pengurus Perusahaan</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/edit/laporbadanusaha/' + ${nasabahBadanUsaha.nonasabah}}">Data Sandi Pelaporan</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/lapkeu/index/' + ${nasabahBadanUsaha.nonasabah}}">Data Laporan Keuangan</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/dokumen/index/' + ${nasabahBadanUsaha.nonasabah}}">Data Dokumen Nasabah</a></li>
				</ul>
				<br/>
				
				<!-- Form Name -->
				<form action="#" method="POST" th:action="@{/nasabah/update/badanusaha}" th:object="${nasabahBadanUsaha}" class="form-horizontal" role="form">
				<fieldset>
					<div class="row">
						<div class="col-md-6">
							
							<!-- Text input-->
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="noid">Nama</label>
								<div class="col-md-3">
									<select class="form-control" id="prefix" name="jenisid" th:field=*{prefix}>
										<option th:each="jenisbu: ${jenisbus}" th:value="${jenisbu.bucode}" th:text="${jenisbu.budesc}"></option>
									</select>
								</div>
								<div class="col-md-6">
									<input type="text" placeholder="Nama" class="form-control" id="namalengkap" name="namalengkap" th:field=*{namalengkap} required />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="officeadd">Alamat</label>
								<div class="col-md-9">
									<input type="text" placeholder="Alamat" class="form-control" id="officeadd" name="officeadd" th:field=*{officeadd} required />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="officeprov">Provinsi</label>
								<div class="col-md-9">
									<select class="selectpicker" data-live-search="true" name="officeprov" id="officeprov" th:field=*{officeprov} required>
										<option th:each="provinsi: ${provinsis}" th:value="${provinsi.provinsicode}" th:text="${provinsi.provinsidesc}"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="officecity">Kota/Kabupaten</label>
								<div class="col-md-9">
									<select class="form-control" id="officecity" name="officecity" th:field=*{officecity} required>
										<option th:each="kota: ${kotas}" th:value="${kota.kotacode}" th:if="${nasabahBadanUsaha.officecity} == ${kota.kotacode}" selected="selected" th:text="${kota.kotadesc}">
										<option th:each="kota: ${kotas}" th:value="${kota.kotacode}" th:if="${nasabahBadanUsaha.officecity} != ${kota.kotacode}" th:text="${kota.kotadesc}">
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="officekec">Kecamatan</label>
								<div class="col-md-9">
									<input type="text" placeholder="Kecamatan" class="form-control" id="officekec" name="officekec" th:field=*{officekec} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="officekel">Kelurahan</label>
								<div class="col-md-9">
									<input type="text" placeholder="Kelurahan" class="form-control" id="officekel" name="officekel" th:field=*{officekel} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="officekodepos">Kode Pos</label>
								<div class="col-md-9">
									<input type="number" placeholder="Kode Pos" class="form-control" id="officekodepos" name="officekodepos" th:field=*{officekodepos} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="officephnno">Telepon Kantor</label>
								<div class="col-md-9">
									<input type="text" placeholder="Telepon Kantor" class="form-control" id="officephnno" name="officephnno" th:field=*{officephnno} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="officefaxno">No Faksimil</label>
								<div class="col-md-9">
									<input type="text" placeholder="No Faksimil" class="form-control" id="officefaxno" name="officefaxno" th:field=*{officefaxno} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="email">Email</label>
								<div class="col-md-9">
									<input type="text" placeholder="Email" class="form-control" id="email" name="email" th:field=*{email} />
								</div>
							</div>
							
						</div>
						<div class="col-md-6">
						
							<div class="form-group">
								<label class="col-md-3 control-label">No Nasabah</label>
								<div class="col-md-9">
									<input type="text" placeholder="No Nasabah" class="form-control" id="nonasabah" name="nonasabah" th:field=*{nonasabah} readonly />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="nonpwp">NPWP</label>
								<div class="col-md-9">
									<input type="text" placeholder="NPWP" class="form-control" id="nonpwp" name="nonpwp" th:field=*{nonpwp} required />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label">Tanggal Pendirian</label>
								<div class="col-md-9">
									<input type="date" placeholder="Tanggal Pendirian" class="form-control" id="bodestablish" name="bodestablish" th:field=*{bodestablish} />
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label" for="bidusaha">Bidang Usaha</label>
								<div class="col-md-9">
									<select class="selectpicker" data-live-search="true" id="bidusaha" name="bidusaha" th:field=*{bidusaha} >
										<option value=""> -- pilih -- </option>
										<option th:each="bidusaha: ${bidusahas}" th:value="${bidusaha.sandicode}" th:text="${bidusaha.sandidesc}"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="appno">No APP</label>
								<div class="col-md-9">
									<input type="text" placeholder="No APP" class="form-control" id="appno" name="appno" th:field=*{appno} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="appdate">Tanggal APP</label>
								<div class="col-md-9">
									<input type="date" placeholder="Tanggal APP" class="form-control" id="appdate" name="appdate" th:field=*{appdate} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="appchgno">No Perubahan APP</label>
								<div class="col-md-9">
									<input type="text" placeholder="No Perubahan APP" class="form-control" id="appchgno" name="appchgno" th:field=*{appchgno} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="appchgdate">Tanggal Perubahan APP</label>
								<div class="col-md-9">
									<input type="date" placeholder="Tanggal Perubahan APP" class="form-control" id="appchgdate" name="appchgdate" th:field=*{appchgdate} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="notaris">Nama Notaris</label>
								<div class="col-md-9">
									<input type="text" placeholder="Nama Notaris" class="form-control" id="notaris" name="notaris" th:field=*{notaris} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="officestatus">Status Kantor</label>
								<div class="col-md-9">
									<select class="selectpicker" data-live-search="true" id="officestatus" name="officestatus" th:field=*{officestatus} >
										<option value=""> -- pilih -- </option>
										<option th:each="homestatus: ${homestatuses}" th:value="${homestatus.homestatuscode}" th:text="${homestatus.homestatusdesc}"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="contactperson">Contact Person</label>
								<div class="col-md-9">
									<input type="text" placeholder="Contact Person" class="form-control" id="contactperson" name="contactperson" th:field=*{contactperson} />
								</div>
							</div>
							
						</div>
					</div>
					<div class="row">
						<!-- Button (Double) -->
						<div class="form-group">
							<label class="col-md-3 control-label" for="submitButton"></label>
							<div class="col-md-9">
								<button type="submit" id="submitButton" name="submitButton" class="btn btn-success">Save</button>
								<a th:href="@{'/nasabah/edit/badanusaha/' + ${nasabahBadanUsaha.nonasabah}}" class="btn btn-inverse">Cancel</a>
							</div>
						</div>
					</div>
				</fieldset>
				</form>
				
			</div>
				
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->

		</section>
		<!-- /.content -->
	</div>

	<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/js/jquery-2.2.3.min.js"></script>
<!-- popper -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/js/bootstrap.min.js"></script>

<script src="/js/bootstrap-select.min.js"></script>

<script>
	$(document).ready(function () {

		$('#officeprov').change(function () {
			$.ajax({
                url: '/parameter/listkotakabbyprov/' + $('#officeprov').val(),
                success: function (result) {
                    $('#officecity').empty();
                    $.each(result, function () {
                        $('#officecity').append($('<option></option>').attr('value', this.kotacode).text(this.kotadesc));
                    });
                }
            });
		});
	});
</script>

<!-- FastClick -->
<script src="/js/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/demo.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/js/jquery-ui.min.js"></script>
<!-- Slimscroll -->
<script src="/js/jquery.slimscroll.min.js"></script>


<!-- Morris.js charts -->
<script src="/js/raphael-min.js"></script>
<script src="/js/morris.min.js"></script>
<!-- Sparkline -->
<script src="/js/jquery.sparkline.min.js"></script>
<!-- jQuery Knob Chart -->
<script src="/js/jquery.knob.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/js/bootstrap3-wysihtml5.all.min.js"></script>
,
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/js/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

</body>
</html>