<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<header th:replace="fragments :: main-header"></header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside th:replace="fragments :: main-sidebar"></aside>
	
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<!-- <section class="content-header"> -->
		<!-- </section> -->

		<!-- Main content -->
		<section class="content">
			
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->
			
			<div class="container">
				<legend>Data Nasabah</legend>
			
				<ul class="nav nav-pills">
					<li role="presentation"><a th:href="@{'/nasabah/inquiry/perorangan/' + ${nasabahJobnSpouse.nonasabah}}">Basic Data Perorangan</a></li>
					<li role="presentation" class="active"><a href="#">Data Pekerjaan & Pasangan</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/inquiry/laporperorangan/' + ${nasabahJobnSpouse.nonasabah}}">Data Sandi Pelaporan</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/dokumen/inquiry/' + ${nasabahJobnSpouse.nonasabah}}">Data Dokumen Nasabah</a></li>
				</ul>
				<br/>
				
				<!-- Form Name -->
				<form action="#" method="GET" th:object="${nasabahJobnSpouse}" class="form-horizontal" role="form">
				<fieldset>
					<div class="row">
						<div class="col-md-6">
							
						<!-- Text input-->
						
						<div class="form-group">
							<label class="col-md-3 control-label" for="jobtype">Pekerjaan</label>
							<div class="col-md-9">
								<select class="form-control" id="jobtype" name="jobtype" th:field=*{jobtype} disabled >
									<option th:each="jobcode: ${jobcodes}" th:value="${jobcode.sandicode}" th:text="${jobcode.sandidesc}"></option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-3 control-label" for="workplace">Nama Tempat Bekerja</label>
							<div class="col-md-9">
								<input type="text" placeholder="Nama Tempat Bekerja" class="form-control" id="workplace" name="workplace" th:field=*{workplace} readonly />
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-3 control-label" for="bidusaha">Bidang Usaha</label>
							<div class="col-md-9">
								<select class="form-control" id="bidusaha" name="bidusaha" th:field=*{bidusaha} disabled >
									<option th:each="bidusaha: ${bidusahas}" th:value="${bidusaha.sandicode}" th:text="${bidusaha.sandidesc}"></option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-3 control-label" for="income">Income / Tahun</label>
							<div class="col-md-9">
								<input type="number" placeholder="Income / Tahun" class="form-control" id="income" name="income" th:field=*{income} readonly />
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-3 control-label" for="officeadd">Alamat</label>
							<div class="col-md-9">
								<input type="text" placeholder="Alamat" class="form-control" id="officeadd" name="officeadd" th:field=*{officeadd} readonly />
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-3 control-label" for="officeprov">Provinsi</label>
							<div class="col-md-9">
								<select class="form-control" name="officeprov" id="officeprov" th:field=*{officeprov} disabled >
									<option th:each="provinsi: ${provinsis}" th:value="${provinsi.provinsicode}" th:text="${provinsi.provinsidesc}"></option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-3 control-label" for="officecity">Kota/Kabupaten</label>
							<div class="col-md-9">
								<select class="form-control" id="officecity" name="officecity" th:field=*{officecity} disabled >
									<option th:each="kota: ${kotas}" th:value="${kota.kotacode}" th:if="${nasabahJobnSpouse.officecity} == ${kota.kotacode}" selected="selected" th:text="${kota.kotadesc}">
									<option th:each="kota: ${kotas}" th:value="${kota.kotacode}" th:if="${nasabahJobnSpouse.officecity} != ${kota.kotacode}" th:text="${kota.kotadesc}">
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-3 control-label" for="officekec">Kecamatan</label>
							<div class="col-md-9">
								<input type="text" placeholder="Kecamatan" class="form-control" id="officekec" name="officekec" th:field=*{officekec} readonly />
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-3 control-label" for="officekel">Kelurahan</label>
							<div class="col-md-9">
								<input type="text" placeholder="Kelurahan" class="form-control" id="officekel" name="officekel" th:field=*{officekel} readonly />
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-3 control-label" for="officekodepos">Kode Pos</label>
							<div class="col-md-9">
								<input type="number" placeholder="Kode Pos" class="form-control" id="officekodepos" name="officekodepos" th:field=*{officekodepos} readonly />
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-3 control-label" for="officephnno">Telepon Kantor</label>
							<div class="col-md-9">
								<input type="text" placeholder="Telepon Kantor" class="form-control" id="officephnno" name="officephnno" th:field=*{officephnno} readonly />
							</div>
						</div>
							
						</div>
						<div class="col-md-6">
						
							<div class="form-group">
								<label class="col-md-3 control-label">No Nasabah</label>
								<div class="col-md-9">
									<input type="text" placeholder="No Nasabah" class="form-control" id="nonasabah" name="nonasabah" th:field=*{nonasabah} readonly />
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-md-3"></div>
								<div class="col-md-9"></div>
							</div>
							
							<div class="form-group">
								<div class="col-md-3"></div>
								<div class="col-md-9"><h3>Data Pasangan</h3></div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="spousename">Nama Pasangan</label>
								<div class="col-md-9">
									<input type="text" placeholder="Nama Pasangan" class="form-control" id="spousename" name="spousename" th:field=*{spousename} readonly />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label">Tempat Tanggal Lahir Pasangan</label>
								<div class="col-md-5">
									<input type="text" placeholder="Tempat Lahir Pasangan" class="form-control" id="spousebirthplace" name="spousebirthplace" th:field=*{spousebirthplace} readonly />
								</div>
								<div class="col-md-4">
									<input type="date" placeholder="Tanggal Lahir Pasangan" class="form-control" id="spousebod" name="spousebod" th:field=*{spousebod} readonly />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label">Identitas Pasangan</label>
								<div class="col-md-3">
									<select class="form-control" id="spouseidtype" name="spouseidtype" th:field=*{spouseidtype} disabled >
										<option th:each="jenisid: ${jenisids}" th:value="${jenisid.jenisidcode}" th:text="${jenisid.jenisiddesc}"></option>
									</select>
								</div>
								<div class="col-md-6">
									<input type="text" placeholder="No Identitas Pasangan" class="form-control" id="spouseidno" name="spouseidno" th:field=*{spouseidno} readonly />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="spousejob">Pekerjaan Pasangan</label>
								<div class="col-md-9">
									<select class="form-control" id="spousejob" name="spousejob" th:field=*{spousejob} disabled >
										<option th:each="jobcode: ${jobcodes}" th:value="${jobcode.sandicode}" th:text="${jobcode.sandidesc}"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="spouseedu">Pendidikan Pasangan</label>
								<div class="col-md-9">
									<select class="form-control" id="spouseedu" name="spouseedu" th:field=*{spouseedu} disabled >
										<option th:each="pendidikan: ${pendidikans}" th:value="${pendidikan.sandicode}" th:text="${pendidikan.sandidesc}"></option>
									</select>
								</div>
							</div>

						</div>
					</div>
				</fieldset>
				</form>
				
			</div>
				
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->

		</section>
		<!-- /.content -->
	</div>

	<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/js/jquery-2.2.3.min.js"></script>
<!-- popper -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/js/bootstrap.min.js"></script>

<script src="/js/bootstrap-select.min.js"></script>

<!-- FastClick -->
<script src="/js/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/demo.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/js/jquery-ui.min.js"></script>
<!-- Slimscroll -->
<script src="/js/jquery.slimscroll.min.js"></script>


<!-- Morris.js charts -->
<script src="/js/raphael-min.js"></script>
<script src="/js/morris.min.js"></script>
<!-- Sparkline -->
<script src="/js/jquery.sparkline.min.js"></script>
<!-- jQuery Knob Chart -->
<script src="/js/jquery.knob.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/js/bootstrap3-wysihtml5.all.min.js"></script>
,
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/js/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

</body>
</html>