<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<header th:replace="fragments :: main-header"></header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside th:replace="fragments :: main-sidebar"></aside>
	
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<!-- <section class="content-header"> -->
		<!-- </section> -->

		<!-- Main content -->
		<section class="content">
			
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->
			
			<div class="container">
				<legend>Data Nasabah</legend>
			
				<ul class="nav nav-pills">
					<li role="presentation"><a th:href="@{'/nasabah/edit/badanusaha/' + ${nonasabah}}">Basic Data Badan Usaha</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/pengurus/index/' + ${nonasabah}}">Data Pengurus Perusahaan</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/edit/laporbadanusaha/' + ${nonasabah}}">Data Sandi Pelaporan</a></li>
					<li role="presentation" class="active"><a href="#">Data Laporan Keuangan</a></li>
					<li role="presentation"><a th:href="@{'/nasabah/dokumen/index/' + ${nonasabah}}">Data Dokumen Nasabah</a></li>
				</ul>
				<br/>
				
				<!-- Form Name -->
				<form action="#" method="POST" th:action="@{'/nasabah/lapkeu/update/' + ${nonasabah}}" th:object="${nasabahLapKeu}" class="form-horizontal" role="form">
				<fieldset>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-md-3 control-label">Periode</label>
								<div class="col-md-9">
									<input type="date" class="form-control" id="periode" name="periode" th:field=*{periode} required />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<input type="hidden" placeholder="ID" class="form-control" id="id" name="id" th:field=*{id} />
							<input type="hidden" placeholder="No Nasabah" class="form-control" id="nonasabah" name="nonasabah" th:field=*{nonasabah} />
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
						
							<h5>ASET</h5>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="kas">Kas</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="kas" name="kas" th:field=*{kas} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="piutang">Piutang</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="piutang" name="piutang" th:field=*{piutang} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="investasi">Investasi</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="investasi" name="investasi" th:field=*{investasi} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="asetlancarlain">Aset Lancar Lain</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="asetlancarlain" name="asetlancarlain" th:field=*{asetlancarlain} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="asettidaklancar">Aset Non Lancar Lain</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="asettidaklancar" name="asettidaklancar" th:field=*{asettidaklancar} />
								</div>
							</div>
							
							<br/>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="modal">EKUITAS</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="modal" name="modal" th:field=*{modal} />
								</div>
							</div>
							
						</div>
						<div class="col-md-4">
						
							<h5>LIABILITAS</h5>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="pinjamanpendek">Pinjaman Jangka Pendek</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="pinjamanpendek" name="pinjamanpendek" th:field=*{pinjamanpendek} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="utangusahapendek">Utang Jangka Pendek</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="utangusahapendek" name="utangusahapendek" th:field=*{utangusahapendek} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="liabpendeklain">Liab Jangka Pendek Lain</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="liabpendeklain" name="liabpendeklain" th:field=*{liabpendeklain} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="pinjamanpanjang">Pinjaman Jangka Panjang</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="pinjamanpanjang" name="pinjamanpanjang" th:field=*{pinjamanpanjang} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="utangusahapanjang">Utang Jangka Panjang</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="utangusahapanjang" name="utangusahapanjang" th:field=*{utangusahapanjang} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="liabpanjanglain">Liab Jangka Panjang Lain</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="liabpanjanglain" name="liabpanjanglain" th:field=*{liabpanjanglain} />
								</div>
							</div>
							
						</div>
						<div class="col-md-4">
						
							<h5>LABA RUGI</h5>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="pendapatanopr">Pendapatan Operasional</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="pendapatanopr" name="pendapatanopr" th:field=*{pendapatanopr} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="bebanopr">Beban Operasional</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="bebanopr" name="bebanopr" th:field=*{bebanopr} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="pendapatannonopr">Pendapatan Non Operasional</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="pendapatannonopr" name="pendapatannonopr" th:field=*{pendapatannonopr} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="bebannonopr">Beban Non Operasional</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="bebannonopr" name="bebannonopr" th:field=*{bebannonopr} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="lababruto">Laba Bruto</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="lababruto" name="lababruto" th:field=*{lababruto} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="labasebelumpajak">Laba Sebelum Pajak</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="labasebelumpajak" name="labasebelumpajak" th:field=*{labasebelumpajak} />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-6 control-label" for="labatahunberjalan">Laba Tahun Berjalan</label>
								<div class="col-md-6">
									<input type="number" class="form-control" id="labatahunberjalan" name="labatahunberjalan" th:field=*{labatahunberjalan} />
								</div>
							</div>
							
						</div>
					</div>
					<div class="row">
						<!-- Button (Double) -->
						<div class="form-group">
							<label class="col-md-3 control-label" for="submitButton"></label>
							<div class="col-md-9">
								<button type="submit" id="submitButton" name="submitButton" class="btn btn-success">Save</button>
								<a th:href="@{'/nasabah/lapkeu/index/' + ${nonasabah}}" class="btn btn-inverse">Cancel</a>
							</div>
						</div>
					</div>
				</fieldset>
				</form>
				
			</div>
				
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->

		</section>
		<!-- /.content -->
	</div>

	<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/js/jquery-2.2.3.min.js"></script>
<!-- popper -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/js/bootstrap.min.js"></script>

<script src="/js/bootstrap-select.min.js"></script>

<script>
	$(document).ready(function () {

		$('#provinsi').change(function () {
			$.ajax({
                url: '/parameter/listkotakabbyprov/' + $('#provinsi').val(),
                success: function (result) {
                    $('#kota').empty();
                    $.each(result, function () {
                        $('#kota').append($('<option></option>').attr('value', this.kotacode).text(this.kotadesc));
                    });
                }
            });
		});
	});
</script>

<!-- FastClick -->
<script src="/js/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/demo.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/js/jquery-ui.min.js"></script>
<!-- Slimscroll -->
<script src="/js/jquery.slimscroll.min.js"></script>


<!-- Morris.js charts -->
<script src="/js/raphael-min.js"></script>
<script src="/js/morris.min.js"></script>
<!-- Sparkline -->
<script src="/js/jquery.sparkline.min.js"></script>
<!-- jQuery Knob Chart -->
<script src="/js/jquery.knob.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/js/bootstrap3-wysihtml5.all.min.js"></script>
,
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/js/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

</body>
</html>