<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<header th:replace="fragments :: main-header"></header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside th:replace="fragments :: main-sidebar"></aside>
	
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<!-- <section class="content-header"> -->
		<!-- </section> -->

		<!-- Main content -->
		<section class="content">
			
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->
			
			<div class="container">
				<legend>Pembentukan Pinjaman Baru</legend>
				
				<ul class="nav nav-pills">
					<li role="presentation"><a th:href="@{'/pinjaman/fasilitas/edit/' + ${nofasilitas}}">Fasilitas</a></li>
					<li role="presentation"><a th:href="@{'/pinjaman/dokfasilitas/index/' + ${nofasilitas}}">Dokumen Fasilitas</a></li>
					<li role="presentation" class="active"><a th:href="@{#}">Join Rekening</a></li>
					<!--<li role="presentation"><a th:href="@{#}">Cetak Data</a></li>-->
					<li role="presentation"><a th:href="@{'/pinjaman/angsuran/index/' + ${nofasilitas}}">Skala Angsuran</a></li>
				</ul>
				<br/>
				
				<div th:if="${mode == 'MODE_INDEX'}">
					<p>
						<a class="btn btn-primary" th:href="@{'/pinjaman/join/create/' + ${nofasilitas}}">Add New</a>
					</p>
					
					<table id="table1" class="table table-bordered table-striped" width="80%">
					<thead>
						<tr class="table-active">
							<th>No Nasabah</th>
							<th>Nama Nasabah</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="join : ${listJoin}">
							<td th:text="${join.JoinNonasabah}"></td>
							<td th:text="${join.JoinNamalengkap}"></td>
							<td>
								<form action="#" method="POST" th:action="@{'/pinjaman/join/delete/' + ${nofasilitas}} + '/' + ${join.JoinId}">
									<button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span> Delete</button>
								</form>
							</td>
						</tr>
					</tbody>
					</table>
				</div>
				
				<div th:if="${mode == 'MODE_CREATE'}">
					<div class="row">
						<div class="col-md-9">
							<form id="form1" action="#" method="POST" th:action="@{'/pinjaman/join/insert/' + ${nofasilitas}}" th:object="${fasilitasJoin}" class="form-horizontal" role="form">
								<input type="hidden" id="NoFasilitas" name="NoFasilitas" th:value="${nofasilitas}" />
								<div class="form-group">
									<label class="col-md-3 control-label" for="JoinNonasabah">No Nasabah</label>
									<div class="col-md-9">
										<input type="text" class="form-control" id="JoinNonasabah" name="JoinNonasabah" th:field=*{JoinNonasabah} required />
										<span class="text-danger" th:if="${#fields.hasErrors('JoinNonasabah')}" th:errors="*{JoinNonasabah}">JoinNonasabah Error</span>
										<span class="text-danger" th:text="${customError}"></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="submitButton"></label>
									<div class="col-md-9">
										<button type="submit" id="submitButton" name="submitButton" class="btn btn-success">Add</button>
										<a th:href="@{'/pinjaman/join/index/' + ${nofasilitas}}" class="btn btn-inverse">Cancel</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				
			</div>	
				
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->

		</section>
		<!-- /.content -->
	</div>

	<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/js/jquery-2.2.3.min.js"></script>
<!-- popper -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/js/bootstrap.min.js"></script>

<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>

<script>
	$(document).ready(function () {
		$("#form1").validate();
		
	});
</script>

<!-- FastClick -->
<script src="/js/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/demo.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/js/jquery-ui.min.js"></script>
<!-- Slimscroll -->
<script src="/js/jquery.slimscroll.min.js"></script>


<!-- Morris.js charts -->
<script src="/js/raphael-min.js"></script>
<script src="/js/morris.min.js"></script>
<!-- Sparkline -->
<script src="/js/jquery.sparkline.min.js"></script>
<!-- jQuery Knob Chart -->
<script src="/js/jquery.knob.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/js/bootstrap3-wysihtml5.all.min.js"></script>
,
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/js/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

</body>
</html>