<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<header th:replace="fragments :: main-header"></header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside th:replace="fragments :: main-sidebar"></aside>
	
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<!-- <section class="content-header"> -->
		<!-- </section> -->

		<!-- Main content -->
		<section class="content">
			
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->
			
			<div class="container">
				<legend>Pemeliharaan Rekening Pinjaman</legend>
				
				<!-- Success Alert -->
				<div class="alert alert-success alert-dismissible" th:if="${(sccMsg != null) && (sccMsg != '')}">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<h4><i class="icon fa fa-check"></i> Success!</h4>
					<h5 th:text="${sccMsg}"></h5>
				</div>
				
				<!-- Error Alert -->
				<div class="alert alert-danger alert-dismissible" th:if="${(errMsg != null) && (errMsg != '')}">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<h4><i class="icon fa fa-ban"></i> Error!</h4>
					<h5 th:text="${errMsg}"></h5>
				</div>
				
				<br/>

				<div class="row">
					<div class="col-md-12">
						<form action="#" method="GET" th:action="@{/pinjaman/rekening/searchedit}" class="form-inline" role="form">
							<div class="form-group">
								&nbsp;&nbsp;
								<input type="number" placeholder="No Rekening" class="form-control" name="norek" th:value="${norek}" />&nbsp;
								<input type="number" placeholder="No Nasabah" class="form-control" name="nonasabah" th:value="${nonasabah}" />&nbsp;
								<input type="text" placeholder="Nama Nasabah" class="form-control" name="nama" th:value="${nama}" />&nbsp;
								<button type="submit" class="btn btn-success">Search</button>&nbsp;
								<a th:href="@{/pinjaman/rekening/searchedit}" class="btn btn-danger">Clear</button>
							</div>
						</form>						
					</div>
				</div>
				<br/>
				<table id="table1" class="table table-bordered table-striped" width="80%">
				<thead>
					<tr class="table-active">
						<th>No Rekening</th>
						<th>No Nasabah</th>
						<th>Nama Nasabah</th>
						<th>Produk</th>
						<th>Plafond (IDR)</th>
						<th>Tenor (bulan)</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="rek : ${listRekeningKredit}">
						<td th:text="${rek.NoRekening}"></td>
						<td th:text="${rek.NoNasabah}"></td>
						<td th:text="${rek.NamaNasabah}"></td>
						<td th:text="${rek.Produk.Desc}"></td>
						<td th:text="${#numbers.formatDecimal(rek.EqvPlafond, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
						<td th:text="${rek.Tenor}"></td>
						<td th:text="${rek.StatusRekening.deskripsi}"></td>
						<td><a th:href="@{'/pinjaman/rekening/editfasilitas/' + ${rek.NoRekening}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
					</tr>
				</tbody>
				</table>
				
			</div>
				
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->

		</section>
		<!-- /.content -->
	</div>

	<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/js/jquery-2.2.3.min.js"></script>
<!-- popper -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/js/bootstrap.min.js"></script>

<script src="/js/bootstrap-select.min.js"></script>

<script>
	$(document).ready(function () {

		$('#officeprov').change(function () {
			$.ajax({
                url: '/parameter/listkotakabbyprov/' + $('#officeprov').val(),
                success: function (result) {
                    $('#officecity').empty();
                    $.each(result, function () {
                        $('#officecity').append($('<option></option>').attr('value', this.kotacode).text(this.kotadesc));
                    });
                }
            });
		});
	});
</script>

<!-- FastClick -->
<script src="/js/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/demo.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/js/jquery-ui.min.js"></script>
<!-- Slimscroll -->
<script src="/js/jquery.slimscroll.min.js"></script>


<!-- Morris.js charts -->
<script src="/js/raphael-min.js"></script>
<script src="/js/morris.min.js"></script>
<!-- Sparkline -->
<script src="/js/jquery.sparkline.min.js"></script>
<!-- jQuery Knob Chart -->
<script src="/js/jquery.knob.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/js/bootstrap3-wysihtml5.all.min.js"></script>
,
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/js/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

</body>
</html>