<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<header th:replace="fragments :: main-header"></header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside th:replace="fragments :: main-sidebar"></aside>
	
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<!-- <section class="content-header"> -->
		<!-- </section> -->

		<!-- Main content -->
		<section class="content">
			
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->
			
			<div class="container">
				<legend>Pemeliharaan Rekening Pinjaman</legend>
				
				<ul class="nav nav-pills">
					<li role="presentation"><a th:href="@{'/pinjaman/rekening/editfasilitas/' + ${noRekening}}">Data Fasilitas</a></li>
					<li role="presentation" class="active"><a href="#">Data Pelaporan</a></li>
					<li role="presentation"><a th:href="@{'/pinjaman/rekening/tagihanindex/' + ${noRekening}}">Data Tagihan</a></li>
					<li role="presentation"><a th:href="@{'/pinjaman/rekening/editrestru/' + ${noRekening}}">Data Restrukturisasi</a></li>
					<li role="presentation"><a th:href="@{'/pinjaman/rekening/listangsuran/' + ${noRekening}}">Skala Angsuran</a></li>
				</ul>
				<br/>
				
				<!-- Form Name -->
				<form id="form1" action="#" method="POST" th:action="@{'/pinjaman/rekening/updatepelaporan/' + ${noRekening}}" th:object="${rekeningKreditPelaporan}" class="form-horizontal" role="form">
				<fieldset>
					<div class="row">
						<div class="col-md-6">
						
							<input type="hidden" class="form-control" name="NoRekening" th:field=*{NoRekening} />
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="SifatKredit">Sifat Kredit</label>
								<div class="col-md-9">
									<select class="selectpicker" data-live-search="true" name="SifatKredit" id="SifatKredit" th:field=*{SifatKredit}>
										<option th:each="sifatKredit: ${listSifatKredit}" th:value="${sifatKredit.sandicode}" th:text="${sifatKredit.sandidesc}"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="JenisPenggunaan">Jenis Penggunaan</label>
								<div class="col-md-9">
									<select class="selectpicker" data-live-search="true" name="JenisPenggunaan" id="JenisPenggunaan" th:field=*{JenisPenggunaan}>
										<option th:each="purpose: ${listPurpose}" th:value="${purpose.sandicode}" th:text="${purpose.sandidesc}"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="Orientasi">Orientasi</label>
								<div class="col-md-9">
									<select class="selectpicker" data-live-search="true" name="Orientasi" id="Orientasi" th:field=*{Orientasi}>
										<option th:each="orientasi: ${listOrientasi}" th:value="${orientasi.sandicode}" th:text="${orientasi.sandidesc}"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="JenisKredit">Jenis Kredit</label>
								<div class="col-md-9">
									<select class="selectpicker" data-live-search="true" name="JenisKredit" id="JenisKredit" th:field=*{JenisKredit}>
										<option th:each="jenisKredit: ${listJenisKredit}" th:value="${jenisKredit.sandicode}" th:text="${jenisKredit.sandidesc}"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="KodeFasKhusus">Kode Fas Khusus</label>
								<div class="col-md-9">
									<select class="selectpicker" data-live-search="true" name="KodeFasKhusus" id="KodeFasKhusus" th:field=*{KodeFasKhusus}>
										<option th:each="jenisFasilitas: ${listJenisFasilitas}" th:value="${jenisFasilitas.sandicode}" th:text="${jenisFasilitas.sandidesc}"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="LokasiProyek">Lokasi Proyek</label>
								<div class="col-md-9">
									<select class="selectpicker" data-live-search="true" name="LokasiProyek" id="LokasiProyek" th:field=*{LokasiProyek}>
										<option th:each="lokasi: ${listLokasi}" th:value="${lokasi.sandicode}" th:text="${lokasi.sandidesc}"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="GolonganPenjamin">Golongan Penjamin</label>
								<div class="col-md-9">
									<select class="selectpicker" data-live-search="true" name="GolonganPenjamin" id="GolonganPenjamin" th:field=*{GolonganPenjamin}>
										<option th:each="golJamin: ${listGolJamin}" th:value="${golJamin.sandicode}" th:text="${golJamin.sandidesc}"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="KodeSektor">Kode Sektor</label>
								<div class="col-md-9">
									<select class="selectpicker" data-live-search="true" name="KodeSektor" id="KodeSektor" th:field=*{KodeSektor}>
										<option th:each="sektor: ${listSektor}" th:value="${sektor.sandicode}" th:text="${sektor.sandidesc}"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="KodePk">Kode PK</label>
								<div class="col-md-9">
									<select class="selectpicker" data-live-search="true" name="KodePk" id="KodePk" th:field=*{KodePk}>
										<option th:each="pKAkad: ${listPKAkad}" th:value="${pKAkad.sandicode}" th:text="${pKAkad.sandidesc}"></option>
									</select>
								</div>
							</div>
							
						</div>
						<div class="col-md-6">
						
							<div class="form-group">
								<label class="col-md-3 control-label" for="TanggalPkPertama">Tanggal PK Pertama</label>
								<div class="col-md-9">
									<input type="date" class="form-control" id="TanggalPkPertama" name="TanggalPkPertama" th:field=*{TanggalPkPertama} />
									<span class="text-danger" th:if="${#fields.hasErrors('TanggalPkPertama')}" th:errors="*{TanggalPkPertama}">TanggalPkPertama Error</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="NoPkPertama">No PK Pertama</label>
								<div class="col-md-9">
									<input type="text" class="form-control" id="NoPkPertama" name="NoPkPertama" th:field=*{NoPkPertama} />
									<span class="text-danger" th:if="${#fields.hasErrors('NoPkPertama')}" th:errors="*{NoPkPertama}">NoPkPertama Error</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="TanggalPkAkhir">Tanggal PK Akhir</label>
								<div class="col-md-9">
									<input type="date" class="form-control" id="TanggalPkAkhir" name="TanggalPkAkhir" th:field=*{TanggalPkAkhir} />
									<span class="text-danger" th:if="${#fields.hasErrors('TanggalPkAkhir')}" th:errors="*{TanggalPkAkhir}">TanggalPkAkhir Error</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="NoPkAkhir">No PK Akhir</label>
								<div class="col-md-9">
									<input type="text" class="form-control" id="NoPkAkhir" name="NoPkAkhir" th:field=*{NoPkAkhir} />
									<span class="text-danger" th:if="${#fields.hasErrors('NoPkAkhir')}" th:errors="*{NoPkAkhir}">NoPkAkhir Error</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="TanggalAwalKredit">Tanggal Awal Kredit</label>
								<div class="col-md-9">
									<input type="date" class="form-control" id="TanggalAwalKredit" name="TanggalAwalKredit" th:field=*{TanggalAwalKredit} />
									<span class="text-danger" th:if="${#fields.hasErrors('TanggalAwalKredit')}" th:errors="*{TanggalAwalKredit}">TanggalAwalKredit Error</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="TanggalMulai">Tanggal Mulai</label>
								<div class="col-md-9">
									<input type="date" class="form-control" id="TanggalMulai" name="TanggalMulai" th:field=*{TanggalMulai} />
									<span class="text-danger" th:if="${#fields.hasErrors('TanggalMulai')}" th:errors="*{TanggalMulai}">TanggalMulai Error</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="NilaiProyek">NilaiProyek</label>
								<div class="col-md-9">
									<input type="number" class="form-control" id="NilaiProyek" name="NilaiProyek" th:field=*{NilaiProyek} />
									<span class="text-danger" th:if="${#fields.hasErrors('NilaiProyek')}" th:errors="*{NilaiProyek}">NilaiProyek Error</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-3 control-label" for="Note">Keterangan</label>
								<div class="col-md-9">
									<input type="text" class="form-control" id="Note" name="Note" th:field=*{Note} />
									<span class="text-danger" th:if="${#fields.hasErrors('Note')}" th:errors="*{Note}">Note Error</span>
								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<!-- Button (Double) -->
						<div class="form-group">
							<label class="col-md-3 control-label" for="submitButton"></label>
							<div class="col-md-9">
								<button type="submit" id="submitButton" name="submitButton" class="btn btn-success">Save</button>
								<a href="#" class="btn btn-inverse">Cancel</a>
							</div>
						</div>
					</div>
				</fieldset>
				</form>
				
			</div>
				
			<!-- MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT MY CONTENT -->

		</section>
		<!-- /.content -->
	</div>

	<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/js/jquery-2.2.3.min.js"></script>
<!-- popper -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/js/bootstrap.min.js"></script>

<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>

<script>
	$(document).ready(function () {
	
		$("#form1").validate();

	});
</script>

<!-- FastClick -->
<script src="/js/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/demo.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/js/jquery-ui.min.js"></script>
<!-- Slimscroll -->
<script src="/js/jquery.slimscroll.min.js"></script>


<!-- Morris.js charts -->
<script src="/js/raphael-min.js"></script>
<script src="/js/morris.min.js"></script>
<!-- Sparkline -->
<script src="/js/jquery.sparkline.min.js"></script>
<!-- jQuery Knob Chart -->
<script src="/js/jquery.knob.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/js/bootstrap3-wysihtml5.all.min.js"></script>
,
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/js/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

</body>
</html>